
body, h1, h2, p {
    margin: 0;
    padding: 0;
}


header {
    background-color: #87CEEB;
    padding: 20px;
    text-align: center;
}
.imagem {
    margin: 1px;
}

h1 {
    color: #fff; 
}


main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333; 
}


p {
    color: #666; 
    line-height: 1.5;
}


footer {
    background-color: #87CEEB; 
    padding: 10px 20px;
    text-align: center;
    color: #fff;